<form action="/articles" method="POST">
  <p><label>Title</label><input type="text" name="article[title]" id="title"></p>
  <p><label>Content</label><input type="text" name="article[content]" id="content"></p>
  <input type="submit" value="Submit" id="submit">
</form>