<form action="/articles" method="POST">
<h2>Tittle: <input id="title" type="text" name="title"></h2><br>
<h2>Content: <input id="content" type="text" name="content"></h2><br>
<input type="submit" value="Submit">
</form>

