<form method="POST" action="/articles">
  <label for="title">Title: </label>
  <input id="title" name="title"><br/>
  
  <label for="title">Title: </label>
  <input id="" name="content">
  
  
</form>