<h1>Create your article</h1>

<form method='post' action='/create_article'>
    <h3>Title: <input type='text' name='title'></h3><br>

    <textarea name='content' rows='20' col='90'>
    Write your content here.
    </textarea><br>

    <input type='submit' id='submit'>
</form>